h1 {
    background-color: red;
    color: white;
    font-family: Tahoma, Verdana, sans-serif;
    margin: 0 0 10px 0;
    padding: 8px;
    text-align: center;
}

.main-links {
    background-color: darkorange;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
    text-align: center;
}

h4 {
    background-color: darkblue;
    color: white;
    padding: 4px;
}

h2 {
    background-color: black;
    color: white;
    padding: 4px;
}

ol {
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ingredients {
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
}

.recipe-images {
    margin: auto;
    width: 50%;
    border: 3px sold blue;
    padding: 10px;
}